.box-firstpage-admin {
    margin: 0;
}

.header-firstpage-admin {
    display: flex;

    align-items: center;

    background: white;
    padding: 8px 50px;
    color: #3e3e3e;
    font-size: 13px;

    border-bottom: 1px solid #f3d80c;
    gap: 30px;
}

.header-firstpage-admin .icon {
    width: 180px;
}

.main-firstpage-admin {
    padding: 40px 60px;
    border-right: 1px solid #3e3e3e;
}

.main-firstpage-admin h2 {
    margin-bottom: 10px;
    color: #353535;
    letter-spacing: 1px;
}

.main-firstpage-admin p {
    color: #515151;
    letter-spacing: 1px;
}