.content-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    /* Esto alinea el título y la tarjeta */
    justify-content: space-between;
    /* Separa las dos columnas */

    /* El padding lateral que antes estaba en el padre, ahora va aquí */
    padding: 0 100px;
    box-sizing: border-box;
}

.contenido-fondo {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    box-sizing: border-box;

    padding-top: 68px;

    background-image: url("../assets/rimac.jpg");
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* ------------------------------------ */

.description-container {
    flex: 1;
    margin-top: 550px;
    padding-right: 50px;
}

.description-container h1 {
    font-size: 3.5rem;
    color: white;
    font-weight: 700;
    line-height: 1.2;

    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.login-container {
    height: 650px;
    /* Altura automática para más flexibilidad */
    width: 600px;
    /* Un poco más angosto para mejor estética */
    padding: 40px 35px;
    /* Más padding vertical */
    text-align: center;
    background-color: #f9fafb;
    border-radius: 25px;
    box-shadow: 0 0 20px 0 #9e9ea1;
}

.login-container h2 {
    color: rgba(18, 63, 100, 0.9);
    margin: 0 60px 25px 60px;
    /* Más espacio debajo del título */
}

.form-group {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 8px;
    /* Espacio entre label/header e input */
    margin-bottom: 25px;
    /* Espacio entre cada grupo de campos */
}

.form-group label {
    color: #4c698f;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 2px;
}

.form-group input {
    padding: 12px 10px;
    color: #314b5c;
    background-color: #f1f4fa;
    border: 1px solid #4e8bb2;
    border-radius: 8px;
}

.form-group input::placeholder {
    color: #9e9ea1;
}

.form-group input:focus {
    border: 2px solid #4e8bb2;
    ;
    outline: none;
}

.form-group .input-usuario {
    margin-bottom: 35px;
}

.form-group .input-password {
    width: 100%;
}

.password-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.password-header button {
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    color: #ecc21a;
    background: transparent;
    border: none;
    cursor: pointer;
}

.login-button {
    width: 100%;
    margin-bottom: 210px;
    padding: 15px 0;
    border: none;
    border-radius: 12px;
    background: #4e8bb2;
    color: white;
    box-shadow: 0 5px 5px #587d94;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 1px;

}

.marca {
    font-size: 14px;
}

/* ------------------------------------ */
