.Fondo {
  position: relative;
  width: 100%;
  height: 40em;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  background-image: url("../assets/rimac.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.Fondo .contenido-fondo {
  position: relative;
  text-align: center;
  color: black;
}

.Fondo h1 {
  font-size: 2.5em;
  color: rgba(18, 63, 100, 0.9);
}

.Fondo p {
  margin: 10px 0;
  font-size: 1.2em;
  color: rgba(10, 89, 141, 0.85);
}

.Fondo button {
  padding: 10px 20px;
  background-color: rgba(26, 100, 170, 0.85);
  border: none;
  border-radius: 8px;
  font-weight: 600;
  color: #f5f7fc;
  cursor: pointer;
  transition: 0.3s;
}

.Fondo button:hover {
  background-color: rgba(26, 100, 170, 1);
}
