/*-------------------------------------*/
/*                HEADER              */
/*-----------------------------------*/

.box-firstpage-admin {
    margin: 0;
}

.header-firstpage-admin {
    display: flex;

    align-items: center;

    background: white;
    padding: 8px 50px;
    color: #3e3e3e;
    font-size: 10px;

    border-bottom: 1px solid #5296d6;
    gap: 30px;
}

.header-firstpage-admin .icon {
    width: 180px;
}

/*-------------------------------------*/
/*            BODY:INICIO             */
/*-----------------------------------*/

.main-firstpage-admin {
    padding: 25px 20%;
    border-bottom: 1px solid #5296d6;
}

.main-firstpage-admin h2 {
    font-size: 20px;
    margin-bottom: 20px;
    color: #353535;
    letter-spacing: 1px;
}

.main-firstpage-admin .card-instruction {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: 2px solid #0d244c;
    border-radius: 8px;
    padding: 30px;
    gap: 20%;
    box-sizing: border-box;
    overflow: hidden;
}

.card-instruction .text-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 400px;
}

.text-container h2 {
    background: linear-gradient(to left, #c0eff6, #5680c4);
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 5px;
    border-radius: 12px;
    padding: 6px 15px;
    color: rgb(41, 41, 41);
    width: max-content;
}

.text-container p {
    color: #3c3c3c;
    line-height: 22px;
    letter-spacing: 1px;
    width: 100%;
    max-width: 450px;
}

.text-container .icon-text {
    color: #2164d8;
}

.card-instruction .photo-instruction {
    height: 250px;
    width: 250px;
    border-radius: 20px;
    border: 2px solid #66a1dc;
    flex-shrink: 0;
}

/*-------------------------------------*/
/*            BODY:GESTIÓN            */
/*-----------------------------------*/

.main-gestion-firstpage-admin {
    padding: 35px 60px;
}

.main-gestion-firstpage-admin h3{
    font-size: 24px;
    font-weight: 600;
}

.box-card-tutorial-admin {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
}

.card-tutorial-admin {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    height: 430px;
    width: 320px;
    border: 1px solid #e1b91b;
    border-radius: 10px;

    box-sizing: border-box;
    overflow: hidden;

    gap: 15px;

    justify-content: space-between;
}

.card-tutorial-admin img {
    height: 150px;
    width: 100%;
    border-right: 0.5px solid #e1b91b;
    border-left: 0.5px solid #e1b91b;
    border-bottom: 1.5px solid #e1b91b;
    border-radius: 0 0 15px 15px;
    margin-bottom: 5px;
}

.card-tutorial-admin h3 {
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #353535  ;
}

.card-tutorial-admin p {
    padding: 0 20px;
    font-size: 14px;
    color: #3e3e3e;
    letter-spacing: 1px;
    line-height: 25px;
    flex-grow: 1;
}

.card-tutorial-admin button {
    padding: 10px 25px;
    background: transparent;
    border: 2px solid #2164d8;
    color: #2164d8;
    border-radius: 10px;

    font-size: 14px;
    font-weight: 600;

    margin-bottom: 25px;
}

.card-tutorial-admin button:hover {
    background: #2164d8;
    color: #ffffff;
}