.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 280px; /* Ancho del panel */
  height: 100vh;
  background-color: #ffffff;
  box-shadow: -4px 0 15px rgba(0, 0, 0, 0.1);
  padding: 0 25px;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}


.sidebar.open {
  transform: translateX(0);
}


.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s;
  z-index: 999;
}

/* Estado abierto del Overlay:
  Se vuelve visible cuando el sidebar está abierto.
*/
.sidebar-overlay.open {
  opacity: 1;
  visibility: visible;
}

/* --- Estilos internos del menú --- */

.sidebar h2 {
  margin-top: 30px;
  color: #545454;
  border-bottom: 1px solid #f1cf0c; /* Color de la escuela */
  padding-bottom: 10px;
}

/* Estilos de los enlaces de navegación */
.sidebar a {
  display: block;
  padding: 15px 10px;
  text-decoration: none;
  color: #555;
  font-size: 1.1rem;
  border-radius: 8px;
  font-weight: 500;
}

.sidebar a:hover {
  background-color: #f4f4f4;
  color: #415ed3; /* Color de la escuela */
}

.sidebar .text-nav {
  margin-left: 5px;
  font-size: 15px;
  margin-bottom: 10px;
}

.sidebar .icon-nav {
  font-size: 17px;
  margin-right: 10px;
}

/* Botón de cerrar (X) */
.sidebar-close {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 2.2rem;
  font-weight: 300;
  cursor: pointer;
  color: #aaa;
}

.sidebar-close:hover {
  color: #333;
}

/* Botón de Logout */
.btn-logout {
  margin-top: auto; /* Empuja el botón al fondo del flex container */
  margin-bottom: 0;
  padding: 12px;
  background-color: #2d6bc9; /* Rojo para logout */
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
}

.btn-logout:hover {
  background-color: #1e3b9a;
}
