/* App.css (o index.css global) */
* {
  font-family: Arial;
  box-sizing: border-box; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html {
  scroll-behavior: smooth;      /* scroll suave para anclas */
  scroll-padding-top: 80px;     /* espacio para cabecera sticky (ajusta si tu header es mayor) */
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;           /* evita scroll horizontal indeseado */
}

#root {
    margin: 0;
    padding: 0;
    width: 100%;
}

/* MODAL ALERT INACTIVO */

.modal-inactive-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal-inactive {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  max-width: 420px;
  width: 90%;
  text-align: center;
}

.modal-inactive h2 {
  margin-bottom: 1rem;
}

.modal-inactive button {
  margin-top: 1.5rem;
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
